---
import { Image } from "astro:assets";
import s1 from "@/assets/sponsors/mubi.png";
import Section from "@/components/sections/Section.astro";

const sponsors = [
  { logo: s1, alt: "Logo 6" },
  { logo: s1, alt: "Logo 5" },
  { logo: s1, alt: "Logo 4" },
  { logo: s1, alt: "Logo 3" },
  { logo: s1, alt: "Logo 2" },
  { logo: s1, alt: "Logo 1" },
];
---

<Section id="sponsors">
  <div class="flex-row items-center">
    <div class="grid grid-cols-3 sm:grid-cols-3 md:grid-cols-6">
      {
        sponsors.map((sponsor) => {
          return (
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
              <Image
                src={sponsor.logo}
                class="h-12 w-auto mx-auto"
                alt={sponsor.alt}
                loading="lazy"
              />
            </div>
          );
        })
      }
    </div>
  </div>
</Section>
