---
import Footer from "@/components/ui/Footer.astro";
import Navbar from "@/components/ui/Navbar.astro";
import MainHead from "./MainHead.astro";
import "@/styles/global.css";
---

<html lang={Astro.currentLocale}>
  <MainHead {...Astro.props} />
  <style>
    html.lenis {
      height: auto;
    }
    .lenis.lenis-smooth {
      scroll-behavior: auto;
    }
    .lenis.lenis-smooth [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
    .lenis.lenis-stopped {
      overflow: hidden;
    }
  </style>
  <script src="../utils/lenis"></script>
  <body class="bg-white font-grotesk">
    <Navbar />
    <main class="flex flex-col min-h-screen lg:mt-20">
      <slot />
      <Footer />
    </main>
  </body>
</html>
