---
import { capitalize } from "@/utils";

interface Term {
  slug: string;
  label: string;
}

const { terms } = Astro.props as { terms: Term[] };
const locale = Astro.currentLocale as "pt" | "en";
---

<div class="flex flex-wrap gap-2">
  {
    (terms ?? []).map((term) => (
      <span class="px-2 py-1 bg-lime text-black rounded-full text-xs hover:opacity-90">
        <a href={`/${locale}/articles/tag/${term.slug}`}>#{capitalize(term.label)}</a>
      </span>
    ))
  }
</div>
